services:
  redis:
    image: "redis:alpine"
    restart: always

  backend:
    build: ./backend
    command: daphne -b 0.0.0.0 -p 8000 lanchego_project.asgi:application
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    restart: always

  worker:
    build: ./backend
    command: python manage.py listen_serial
    volumes:
      - ./backend:/app
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
    privileged: true
    depends_on:
      - redis
      - backend
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      # --- MUDANÇA CRÍTICA: Passando os argumentos para o build ---
      args:
        NEXT_PUBLIC_API_URL: http://localhost:8000
        NEXT_PUBLIC_WS_URL: ws://localhost:8000
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always
